.jumbotron {
    background-color: bisque;
}

.text-center {
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    background-color: rgb(117, 191, 226);
}

.card-title, .list-group-item {
    font-family: 'Montserrat', sans-serif;
}

.card-header {
    width: 100%;
}

.card {
    text-align: center;
}

